<f:form>

	<!--
		---------------------------------------------------------------------
		Extrem primitive Test-Unit.

		Um einen neuen Test einzurichten, einen Abschnitt unten einfügen.
		data-id="Testname" wird in EXT:nnhelpers/Classes/Controller/ModuleController.php
		ausgewertet. Der Test wird im Frontend und Backend-Kontext getestet.

		ToDo: Scripten, CSS auslagern, Test-Ergebnisse besser ausgeben, mit "echten" Test-Units beschäftigen
	-->
	<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>

	<style>
		.btn-primary {
			background-color: #7091af;
			border: none;
		}
		.actions {
			margin: 30px 0 30px 0;
		}
		.unit {
			background-color: #eee;
			border: 1px solid #ddd;
			padding: 5px 10px;
			color: #666;
		}
		.unit p {
			margin: 0 0 5px 0; 
			padding: 0;
		}
		.result-scope.error {
			background-color: #de2609;
		}
		.error {
			background-color: #feb7b4;
		}
		.result-scope.success,
		.success {
			background-color: #98c47a;
		}
		.error-list {
			color: #c42222;
		}
		.unit h4 {
			color: #000;
		}
		.unit a {
			color: #fff;
		}
		.unit ul {
			padding: 0;
			margin: 5px 0 5px 0;
		}
		.unit li {
			margin: 0 0 0 15px;
		}
		.result-scope {
			display: block;
			width: 70px;
			height: 30px;
			float: right;
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: center;
			text-decoration: none;
			font-size: 1.5rem;
			margin: 10px 5px 0 0;
		}

	</style>

	<script>
	   $(function () {

			var allTests = [];

			$('.test-units .unit').each( function () {
				allTests.push( $(this) );
			});

			run_next_test();

			function run_next_test() {
				if (!allTests.length) return false;
				var $test = allTests.shift();

				run_test_scope( $test, 'BE', function () {
					run_test_scope( $test, 'FE', function () {
						setTimeout( run_next_test, 200 );
					});
				});

			}

			function run_test_scope ( $test, scope, func ) {

				var isBackend = scope == 'BE';

				var baseUrl = $('.test-units').data( isBackend ? 'backendUrl' : 'frontendUrl');
				var testUrl = baseUrl + '&testID=' + encodeURIComponent($test.data().id);

				var $resultFlag = $('<a href="'+testUrl+'" class="result-scope"><span>'+scope+'</span></a>');
				$test.prepend($resultFlag);
				$resultFlag.removeClass( 'error success' );

				$.getJSON( testUrl ).done( function ( data ) {
					console.log( data );
					var hasErrors = data.errors.length;
					if (hasErrors) $test.addClass('error');
					$resultFlag.toggleClass( 'error', hasErrors );
					$resultFlag.toggleClass( 'success', !hasErrors );
					var result = hasErrors ? data.errors : data.success;
					$test.append( '<div class="' + (hasErrors ? 'error-list' : '') + '"><p><b>' 
						+ (isBackend ? 'Backend:' : 'Frontend') 
						+ '</b></p><ul><li>' + result.join('</li><li>') 
						+ '</li></ul></div>' 
					);
					func();
				}).fail( function () {
					$test.addClass( 'error' );
					$resultFlag.addClass( 'error' );
					func();
				});
			}

	   });
	</script>
	
	<div class="actions mb-5 text-right">
		<f:link.action action="index" class="btn btn-primary mr-3">Dokumentation</f:link.action>
		<f:link.action action="test" class="btn btn-primary">Funktionen testen</f:link.action>
	</div>
		
	<div class="test-units" data-backend-url="{f:uri.action(action:'test')}" data-frontend-url="{baseURL}?type=20190825">


		<h2>Environment</h2>
		<div class="unit" data-id="Environment::getBaseURL">
			<h4>\nn\t3::Environment()->getBaseURL()</h4>
		</div>
		<div class="unit" data-id="Environment::getPathSite">
			<h4>\nn\t3::Environment()->getPathSite()</h4>
		</div>
		
		<h2>DB</h2>
		<div class="unit" data-id="Db::insert">
			<h4>\nn\t3::DB() diverse Tests</h4>
		</div>

		<h2>File / FAL Basics</h2>
		<div class="unit" data-id="File::paths">
			<h4>\nn\t3::File() diverse Pfad-Tests</h4>
		</div>
		<div class="unit" data-id="File::getStorage">
			<h4>\nn\t3::File()->getStorage()</h4>
		</div>
		<div class="unit" data-id="Fal::createFalFile">
			<h4>\nn\t3::Fal()->createFalFile()</h4>
		</div>

		<div class="unit" data-id="File::getData">
			<h4>\nn\t3::File()->getData()</h4>
		</div>
		<div class="unit" data-id="File::processImage">
			<h4>\nn\t3::File()->processImage()</h4>
		</div>
		<div class="unit" data-id="Fal::fromFile">
			<h4>\nn\t3::Fal()->fromFile()</h4>
		</div>

		<h2>FE-Kontext im BE erzeugen</h2>
		<div class="unit" data-id="Tsfe::init">
			<h4>\nn\t3::Tsfe()->init()</h4>
		</div>

		<h2>Page</h2>
		<div class="unit" data-id="Page">
			<h4>\nn\t3::Page()</h4>
		</div>

		<h2>SysCategory</h2>
		<div class="unit" data-id="SysCategory">
			<h4>\nn\t3::SysCategory()</h4>
		</div>

		<h2>Convert</h2>
		<div class="unit" data-id="Convert">
			<h4>\nn\t3::Convert()</h4>
		</div>

		<h2>Settings</h2>
		<div class="unit" data-id="Settings">
			<h4>\nn\t3::Settings()</h4>
		</div>

		<h2>Content</h2>
		<div class="unit" data-id="Content">
			<h4>\nn\t3::Content()</h4>
		</div>


	</div>

	<div class="actions">
		<f:link.action action="index" class="btn btn-primary">Zurück</f:link.action>
		<f:link.action action="test" class="btn btn-primary">Erneut testen</f:link.action>
	</div>

</f:form>