{parsing off}

<p>
    <code>\nn\t3::t3Version()</code><br />
    Die Typo3-Version als Ganzzahl (z.B. "8")
</p>
<p>
    <code>$myClass = \nn\t3::injectClass( \My\Namespace\ClassName::class );</code><br />
    Klasse über den ObjectManager instanziieren.
</p>
<p>
    <code>\nn\t3::debug( $obj, $title );</code><br />
    Der bessere Debugger. Gibt Zeilen-Nr. und Methode mit aus, kann auch MySQL-Statements des QueryBuilder debuggen.
</p>
<p>
    <code>\nn\t3::call( $funcNameStr, $param1, ... );</code><br />
    Ruft eine Klasse/Methode in der Schreibweise <code>'\My\Namespace\ClassName->method'</code> auf
</p>
<p>
    <code>\nn\t3::Exception( 'Damn.' );</code><br />
    Wirft eine Exception.
</p>

