{parsing off}
<article class="mb-4">
	<h5>Allgemeines</h5>
	<p>
		die(); ausführen, um das Rendering des Fluid-Templates zu unterbrechen - praktisch zum Debuggen von Mail-Templates.
	</p>

		<pre><code class="language-php">{nnt3:die()}</code></pre>
</article>

<article class="mb-4">
	<h5>Content-Elemente rendern</h5>
	<p>
		Ein Inhaltselement rendern. Wird <code>data</code> übergeben, können im Inhaltselement auch Fluid-Variablen ersetzt werden.<br />
	</p>
	<pre><code class="language-php">{nnt3:contentElement(uid:123, data:feUser.data)}</code></pre>
	<p>
		Fluid-Template/HTML-Code rendern. Die Variablen in <code>data</code> werden im Fluid-Template ersetzt.
	</p>
	<pre><code class="language-php">{data.bodytext->nnt3:contentElement(data:'{greeting:\'Hallo!\'}')}</code></pre>
	<p>
		Spalte (colPos) aus dem Backend-Layout für eine Seite rendern.<br />
	</p>
	<pre><code class="language-php">{nnt3:content.column(colPos:110)}
{nnt3:content.column(colPos:110, pid:99)}</code></pre>
	
	<p>
		Rohes tt_content-Data-Array einer Spalte (colPos) aus dem Backend-Layout holen. Per default werden auch die Relationen<br>
		(FAL, assets, media...) geladen. Kann per <code>relations:0</code> verhindert werden.<br />
	</p>
	<pre><code class="language-php">{nnt3:content.columnData(colPos:110)}
{nnt3:content.columnData(colPos:110, pid:99, relations:0)}</code></pre>
</article>

<article class="mb-4">
	<h5>Page-Data und Seitentitel</h5>
	<p>
		Seiten-Titel (den <code>&lt;title&gt;</code>-Tag) ändern.
	</p>
	<pre><code class="language-php">{nnt3:page.title(title:'Seitentitel')}</code></pre>
	<p>
		Aktuelle Page-UID (pid) holen. Eigene Felder müssen in ext_localconf.php als rootLine definiert werden!
	</p>
	<pre><code class="language-php">{nnt3:page.data(key:'uid')}</code></pre>
	<p>
		Wert aus aktuellem <b>page-data</b> holen, mit slide. Eigene Felder müssen in ext_localconf.php als rootLine definiert werden!<br>
		Kann per <code>\nn\t3::Registry()->rootLineFields(['key', '...']);</code> gemacht werden.
	</p>
	<pre><code class="language-php">{nnt3:page.data(key:'media', slide:1)}
{nnt3:page.data(key:'nnp_contact', slide:1)}
{nnt3:page.data(key:'backend_layout_next_level', slide:1, override:'backend_layout')}</code></pre>
</article>

<article class="mb-4">
	<h5>JSON, XML und FlexForm parsing</h5>
	<p>
		Object oder Array in JSON konvertieren.
	</p>
	<pre><code class="language-php">{some.object->nnt3:format.jsonEncode()}</code></pre>
	<p>
		JSON-String in Array konvertieren.
	</p>
	<pre><code class="language-php">{some.object->nnt3:parse.json()}</code></pre>
	<p>
		Daten für HTML-Attribut konvertieren.
	</p>
	<pre><code class="language-php">{something->nnt3:format.attrEncode()}</code></pre>
	<p>
		Ein XML in ein Object konvertieren
	</p>
	<pre><code class="language-php">{rawXmlString->nnt3:parse.flexForm()->f:debug()}</code></pre>
</article>

<article class="mb-4">
	<h5>Dateien und FAL</h5>
	<p>
		Absoluten Pfad zu einer Datei holen
	</p>
	<pre><code class="language-php">{nnt3:file.absPath(file:'pfad/zum/bild.jpg')}</code></pre>
	<p>
		Prüft, ob eine Datei existiert.
	</p>
	<pre><code class="language-php">{nnt3:file.exists(file:'pfad/zum/bild.jpg')}</code></pre>
</article>

<article class="mb-4">
	<h5>TypoScript</h5>
	<p>
		Wert aus <b>Page-Config</b> holen.
	</p>
	<pre><code class="language-php">{nnt3:ts.page(path:'pfad.zum.page.config')}
{nnt3:ts.page(path:'pfad.zum.page', key:'config')}</code></pre>
	<p>
		Wert aus <b>TypoScript-Setup</b> holen.
	</p>
		<pre><code class="language-php">{nnt3:ts.setup(path:'pfad.zum.setup')}</code></pre>
{nnt3:ts.setup(path:'pfad.zum', key:'setup')}</code></pre>
	<p>
		Wert aus <b>TypoScript-Constants</b> holen.
	</p>
		<pre><code class="language-php">{nnt3:ts.constants(path:'pfad.zur.constant')}
{nnt3:ts.constants(path:'pfad.zur', key:'constant')}</code></pre>
	<p>
		Wert aus <b>ext_conf_template.txt</b> (Extension Manager Konfiguration) holen.
	</p>
		<pre><code class="language-php">{nnt3:ts.extConf(path:'extkey.path')}
{nnt3:ts.extConf(path:'extkey', key:'path')}</code></pre>
</article>

<article class="mb-4">
	<h5>Flash Messages</h5>
	<p>
		Einfache Flash-Messages erstellen und im Fluid ausgeben.
	</p>
		<pre><code class="language-php">\nn\t3::Message()->OK('Titel', 'Infotext');
{nnt3:flashMessages()}</code></pre>
	<p>
		Flash-Messages mit spezieller Queue-ID erstellen und im Fluid ausgeben.
	</p>
		<pre><code class="language-php">\nn\t3::Message()->setId('oben')->OK('Titel', 'Infotext');
{nnt3:flashMessages(id:'oben')}</code></pre>
</article>

<article class="mb-4">
	<h5>Hashing</h5>
	<p>
		Hash für einen String oder eine UID erzeugen.
	</p>
		<pre><code class="language-php">\nn\t3::Encrypt()->hash(123);
{something->nnt3:encrypt.hash()}
{nnt3:encrypt.hash(value:'something')}</code></pre>
</article>

<article class="mb-4">
	<h5>Backend-Module</h5>
	<p>
		Link zum <b>Anzeigen / Verstecken</b> (Feld <code>hidden</code>) eines Datensatzes im Backend-Modul erstellen.
	</p>
	<pre><code class="language-php">&lt;nnt3:link.hideRecord table="tx_myext_domain_model_entry" uid="12" visible="1"&gt;...&lt;/nnt3:link.hideRecord&gt;</code></pre>
	<p>
		Link zum <b>Editieren</b> eines Datensatzes im Backend-Modul erstellen.
	</p>
	<pre><code class="language-php">&lt;nnt3:link.editRecord table="tx_myext_domain_model_entry" uid="12" returnUrl="..."&gt;...&lt;/nnt3:link.editRecord&gt;</code></pre>
	<p>
		Link zum <b>Löschen</b> eines Datensatzes im Backend-Modul erstellen.
	</p>
	<pre><code class="language-php">&lt;nnt3:link.deleteRecord uid="{item.uid}" data="{ajax:1}" table="tx_myext_domain_model_entry"&gt;...&lt;/nnt3:link.deleteRecord&gt;</code></pre>
	<p>
		Link zum <b>Modifizieren</b> eines Datensatzes im Backend-Modul erstellen.
	</p>
	<pre><code class="language-php">&lt;nnt3:link.modifyRecord update="{locked:1}" uid="{item.uid}" table="tx_myext_domain_model_entry"&gt;...&lt;/nnt3:link.modifyRecord&gt;</code></pre>
</article>