<!--
	========================================================================
	EXT:nnhelpers/Resources/Private/Backend/Layouts/Module.html
-->

<f:be.pageRenderer
	includeCssFiles="{0:'EXT:nnhelpers/Resources/Public/Vendor/fontawesome/css/all.css', 1:'EXT:nnhelpers/Resources/Public/Vendor/bootstrap/bootstrap.min.css', 2:'EXT:nnhelpers/Resources/Public/Css/styles.css'}"
/>

<div class="nnhelpers-be-module">
	<div class="typo3-fullDoc">
		<div id="typo3-docbody" class="docbody-fullscreen">
			<div id="typo3-inner-docbody" class="pl-0 pr-5 pt-5">
				<f:flashMessages/>
				
				<f:render section="content"/>
			</div>
		</div>
	</div>
</div>
